@import "src/app/core/styles/_variables.scss";
/* Character Container */

.character-panel {
  margin: 2em auto;
  background-color: #fff;
  width: 90%;
  height: 23em;
  color: #786E6D;
  padding-bottom: 0em;
}

/* Character bio */


.img-wrapper {
  padding-top: 2em;
  width: 11em;
  height: 12em;
}

.img-wrapper > img {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 13em;
  height: 13em;
  top: -4.5em;
  left: -1.5em;
}

.character-title {
  font-size: 1.5em;
  position: relative;
  top: -0.7em;
  text-transform: uppercase;
  color: $background-color;
}

.character-description {
  font-size: 0.9em;
  position: relative;
  top: -1em;
  padding: 1em 2em 1em 0;
}

.character-button {
  font-size: 0.8em;
  font-weight: bolder;
  padding: 0.8em 1em;
  border: 0;
  background-color: red;
  color: white;
}

@media (max-width: 1280px) {
  .img-wrapper > img {
    height: 13em;
    width: 13em;
  }
}

/* Character comics */

.char-comics {
  color: #786E6D;
  font-size: 0.8em;
  cursor: pointer;
}

.char-comics:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.related-comics {
  padding: 2em;
  list-style: none;

  h3 {
    color: $background-color;
    font-size: 1.5em;
    padding-bottom: 0.5em;

  }
}
