<div class="container-fluid page">
  <div class="row">
    <div id="characters" class="col-12 col-md-8 col-lg-9">
      <div class="row characters-options">
        <div class="col-6 col-md-6 d-flex align-items-center">
          <h2 class="characters-list_title">
            <img class="img-fluid" src="assets/icons/characters.png" alt="MarvelComics"/>Characters
          </h2>
        </div>
        <div class="col-6 col-md-6 text-left text-md-right text-lg-right ">
          <select #sortBy id="SelectedSortBy" class="order-select" (change)="sortSearch(sortBy.value)">
            <option value="name">Name</option>
            <option value="-name">Name Descending</option>
            <option value="modified">Modified</option>
            <option value="-modified">Modified Descending</option>
          </select>
        </div>
      </div>
      <div class="container">
        <div class="row characters-list">
          <div class="col-12 col-lg-6"
               *ngFor="let character of allCharacters | async | paginate: { itemsPerPage: 10, currentPage: page }">
            <app-character
              (selectedComic)="openModalComic($event)"
              (selectedCharacter)="openModalCharacter($event)"
              [character]="character">
            </app-character>
          </div>
          <div class="col-12">
            <div class="pagination text-center d-flex justify-content-center">
              <pagination-controls (pageChange)="page = $event" class="paginator" previousLabel=""
                                   nextLabel=""></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="favourites" class="col-12 order-first col-md-4 col-lg-3 order-md-last pb-4">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="favourites-list_title">
            <img src="assets/icons/favourites.png"
                 style="max-width:50px" alt="favourites-icon"> My Favourites
          </h3>
          <div class="card text-center card-favourite" *ngFor="let comic of arrayFavourites; let i=index">
            <a href="javascript:void(0)" (click)="removeFavourite(comic.id)" class="btn-delete">
              <img src="assets/icons/btn-delete.png" class="favourite-button_delete" alt="delete-button">
            </a>
            <img class="card-img-top" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" alt="">
            <div class="card-body">
              <p class="favourite-title">{{comic.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="characterModal" tabindex="-1" role="dialog" aria-labelledby="characterModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img alt="close-profile" src="assets/icons/btn-close.png">
        </button>
        <div class="row">
          <div class="col-3">
            <img [src]="character.thumbnail" alt="character-image" class="img-fluid img-thumbnail">
          </div>
          <div class="col-9">
            <h3>{{ character.name }}</h3>
            <p>{{ character.description }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div *ngFor="let comic of characterComics; let i=index" class="col-md-3 comic-item text-center"
          >

            <small data-dismiss="modal" (click)="openModalComic(comic)">
              <img *ngIf="comic.thumbnail" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
                   alt="comic-thumbnail" class="img-fluid img-thumbnail">
              {{ comic.title }}
            </small>
          </div>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center text-center">
        <a data-dismiss="modal" class="align-self-stretch flex-fill right-button" (click)="addRandomFavourites(characterComics)">
          <img class="img-fluid" src="assets/icons/btn-favourites-primary.png" alt="Favourites"/>
          <i class="icon-favourite"> </i> ADD RANDOM FAVOURITES
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comicModal" tabindex="-1" role="dialog" aria-labelledby="comicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img alt="close-profile" src="assets/icons/btn-close.png">
        </button>
        <div class="row">
          <div class="col-md-4">
            <img *ngIf="comic.thumbnail" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
                 class="img-fluid" alt="">
          </div>
          <div class="col-md-8">
            <h4 class="modal-title_comic">{{comic.title}}</h4>
            <p>{{comic.description || 'Not description...'}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center text-center">
        <a class="align-self-stretch flex-fill left-button" *ngIf="!isFavourite(comic.id); else comicFavourite"
           (click)="addFavourite(comic)">
          <img class="img-fluid" src="assets/icons/btn-favourites-primary.png" alt="Favourites"/>
          ADD TO FAVOURITES
        </a>
        <ng-template #comicFavourite>
          <a class="align-self-stretch flex-fill left-button blocked">
            <img class="img-fluid" src="assets/icons/btn-favourites-default.png" alt="Favourites"/>
            ADDED TO FAVOURITES
          </a>
        </ng-template>
        <a data-dismiss="modal" class="align-self-stretch flex-fill right-button" (click)="buyComic();">
          <img class="img-fluid" src="assets/icons/shopping-cart-primary.png" alt="buy"/>
          BUY FOR ${{getComicPrice(comic.prices) || 0}}
        </a>
      </div>
    </div>
  </div>
</div>
