@import "src/app/core/styles/_variables.scss";

.characters-options,
.favourites-list_title {
  padding-top: 1em;
}

.order-select {
  background-color: white;
  color: darkgray;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 2px;
}

#favourites {
  background: #ebebeb;
  color: #333;
  transition: all 0.3s;
}

.favourites-list_title,
.characters-list_title {
  font-weight: bolder;
}

.favourite-image {
  max-height: 10em;
}

.favourite-title {
  font-weight: bolder;
  font-size: 1.3em;
}

.favourite-button_delete {
  right: -1em;
  top: -1em;
  width: 2.5em;
  position: absolute;
}

.card-favourite {
  margin: 1em 4em;
  background: transparent;
  border: none;
}

.modal-title_comic {
  font-weight: bolder;
}

.paginator {
  padding-top: 1em;
  padding-bottom: 3em;
}

.paginator ::ng-deep .ngx-pagination {
  li {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    font-size: 1em;
  }

  a {
    background: #ffffff;
    color: #D5C5C5;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    width: 40px;
    text-align: center;
  }

  .current {
    background: #ffffff;
    color: #3E3535;
    margin-right: 3px;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    width: 40px;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .order-select {
    font-size: 1em;
  }
  .favourites-list_title,
  .characters-list_title {
    font-size: 1.5em;
  }
}


.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.modal-footer {
  border: 0;
  padding: 0;

  a {
    cursor: pointer;
    margin: 0;
    padding: 1em 0;
    font-weight: bolder;
    color: red;
  }

  a.right-button {
    background-color: #dcdcdc;
  }

  a.left-button {
    background-color: #f0f0f0;

  }
  a.left-button.blocked {
    color: $background-color;
    cursor: not-allowed;
  }
}

body.modal-open {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
