.close-button {

}

.character-image {
  width: 200px;
  margin: 1em 0;
}

.comic-wrapper {
  max-width: 50em;
}

.mat-dialog-actions {
  padding: 0px;
  margin: -24px;

}

.modal-buttons {
  a {
    padding: 1em;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    position: relative;
  }

  .left-button {
    background-color: #F0F0F0;
    color: #3D3332;
  }

  .right-button {
    color: RED;
    background-color: #DCDCDC;
    small {
      font-size: 0.5em;
      position: absolute;
      bottom: 0px;
      right: 10%;
    }
  }
}
