<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>

  <div fxLayout fxLayoutAlign="end">
    <a class="close-button" [mat-dialog-close]="true"><img alt="close-profile" src="assets/icons/btn-close.png"></a>
  </div>

  <div>
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="container-profile">
      <div fxFlex="50%" fxLayoutAlign="center">
        <img mat-card-image class="character-image mat-elevation-z4" alt="character-image"
             src="{{data.thumbnail}}">
      </div>
      <div fxFlex="50%" class="comic-wrapper" fxFlex>
        <h1 class="comic-title h2">{{data.name | uppercase}}</h1>
        <p class="comic-description">{{data.description}}</p>
        <div class="related-comics" fxLayout="row wrap">
          <div fxFlex="20%" *ngFor="let comic of data.allComics" align="center">
            <img [mat-dialog-close]="true" matTooltip="{{comic.name}}" (click)="showComicDescription(comic)"
                 src="assets/icons/favourites.png" alt="comic-thumbnail" class="img-comic">
          </div>
        </div>
      </div>
    </div>

  </div>


</mat-dialog-content>

<mat-dialog-actions fxLayout="row no-wrap" align="center" class="modal-buttons">
  <a fxFlex="50%" [mat-dialog-close]="true" class="left-button" cdkFocusInitial>Close</a>
  <a fxFlex="50%" [mat-dialog-close]="true" class="right-button">
    Add to Favourites
    <small>3 Random Comics</small>
  </a>
</mat-dialog-actions>
