<div class="container comic-datails">
  <div fxFlex="row wrap">
    <div fxFlex="20%" fxFlex.lt-lg="100%">
      <img class="img-comic-selected" src="{{comic.thumbnail.path+'.'+comic.thumbnail.extension}}"
           alt="{{comic.title}}}"/>
    </div>
    <div fxFlex="60%" fxFlexOffset="10%" fxFlex.lt-lg="100%">
      <div>
        <h3>{{comic.title}}</h3>
      </div>
      <div *ngIf="comic.description != null">
        <div [ngSwitch]="comic.description.length">
          <div *ngSwitchCase="0">
            There is currently no description available
          </div>
          <div *ngSwitchDefault>
            {{comic.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions fxLayout="row no-wrap" align="center" class="modal-buttons">
  <a fxFlex="50%" [hidden]="comicFavourite == true" class="button-add" (click)="addToFavourites()"><img
    class="img-fluid" src="assets/icons/btn-favourites-default.png" alt="Favourites"/>ADD TO FAVOURITES
  </a>
  <a fxFlex="50%" [hidden]="comicFavourite == false" class="button-added"><img
    class="img-fluid" src="assets/icons/btn-favourites-primary.png" alt="Favourites"/>ADDED TO FAVOURITES
  </a>
  <a fxFlex="50%" [mat-dialog-close]="true" class="button-buy">
    <img class="img-fluid" src="assets/icons/shopping-cart-primary.png"
         alt="Shop"/>BUY FOR {{comic.price}} />
  </a>
</mat-dialog-actions>
